* {
    padding: 0;
    margin: 0;
}

html {
    max-width: 1440px;
    margin-inline: auto;
}

.navbar-brand {
    font-size: larger;
    margin-left:calc(50% - 80px);
}
.navbar-nav {
    font-size: larger;
}

#App h1 {
    font-size: xx-large;
}

#search-submit {
    height: 38px;
    width: auto;
    padding-block: 10px;
    padding-inline: 14px;
}

#sound-title-container {
    margin-bottom: 0;
    padding-bottom: 0;
    right: 9%;
    left: 9%;
    bottom: 0.6rem;
    display: flex;
    justify-content: center;
}

#sound-title {
    margin-bottom: 0;
    width:fit-content;
    padding-block: 4px;
    padding-inline: 10px;
    font-size: 13.33px;
    line-height: 1.2;
    color: black;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
}

#play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 42px;
    transform: translate(-50%, -50%);
    
}

#search-label {
    font-size: xx-large;
}

.input-group-text {
    padding: 14px 18px;
}
